@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height: 100%;
    vertical-align: middle;
}

/*---- Results Page Start ----*/

/*.results.hide {
  display: none;
}*/

li {
  background-color: #98e2b9;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.results {
  padding: 30px;
  border: 2px solid #303030;
  border-radius: 5px;
/*  max-width: 700px;*/
  width: 700px;
/*  vertical-align: middle;
  text-align: center;*/
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.image {
 /* margin: 10px;*/
/*  max-width: 300px;*/
  margin: 0 auto;
  text-align: center;
}

#closebutton {
  margin: 10px;
  justify-content: flex-end;
  max-width: 20px;
  max-height: 20px;
}

nav {
  display:flex;
}

nav img {
/*  align-items: flex-end;*/
  justify-content: flex-end;
  max-width: 20px;
  max-height: 20px;
}
/*
---- Results Page End ----*/

body {
  background: white;
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  font-family: 'JandaManateeSolid', sans-serif;
  font-size: 5em;
  color: #3ea56c;
  margin: 0px;
  margin-top: 140px;
  margin-bottom: 35px;

}

#food_search {
  margin: 0 auto;
  max-width: 450px;
  position: relative;
}

/*img.close {
  max-width: 50px;
}*/

input[type="text"] {
  float: left;
  width: 100%;
  border: 2px solid #303030;
  padding: 5px;
  height: 30px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #303030;
  border-radius: 5px;
}


input[type="submit"] {
  float: right;
  position: absolute;  
/*  right: -50px;*/
  padding: 5px;
  width: 60px;
  height: 44px;
  border: 3px solid #086788;
  background: #303940;
  color: white;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
/*  font-size: 20px;*/
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
/*  top: 50%;*/
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 50px;
}